.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222226;
    height: 54px;
    overflow: hidden;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    border-style: solid;
    border-width: 1px;
    border-color: #3A3A3D;
    z-index: 1000;
  }
  .nav-links {
    display: flex;
    gap: 1.5rem;
  }
  .nav-links a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
  }
  
  /* .logo {
    height: 50px;
} */

  .logo img {
    max-height: 32px; /* Ensures the logo stays within the header */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Prevent distortion */
  }

  .search-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    border-radius: 4px;

  }

  .search-bar input {
    width: 100%;
    color: #ffffff; /* ✅ Set text color to white or another desired color */
    background-color: #3A3A3D;
    border-style: solid;
    border-width: 1px;
    border-color: #3A3A3D;
    border-radius: 4px;
    padding: 8px; 
    font-size: 16px;
}

.search-bar input::placeholder {
    color: #cccccc; /* ✅ Ensure placeholder text is visible */
    opacity: 1; /* Ensure full opacity */
}

.logout-button {
  color: #BFDBFE;
  border-style: solid;
  border-color: #BFDBFE;
  border-width: 1px;
  border-radius: 5px;
  background-color: transparent;
  height: 34px;
  color: #BFDBFE;
  cursor: pointer;
}