input {
    padding: 4px;
    font-size: 1rem;
}

button {
    padding: 4px 8px; 
    font-size: 1rem;
    background-color: rgb(136, 193, 250);
    color: white;
}

.toggle-class {
    display: flex; 
    align-items: center;
    gap: 8px;
}

.toggle-button {
    background: transparent;
    color: hsl(0, 0%, 80%);
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    text-decoration: underline;
}